.markdown-highlight {
	margin-top: 1rem;
	color: inherit;
	background-color: inherit;
	border: none;

	code[data-lines="1"] {
		white-space: normal !important;
	}

	.hljs-ln-line {
		white-space: pre;
	}

	.hljs-ln-numbers {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		text-align: right;
		color: #ccc;
		border-right: 1px solid #CCC;
		vertical-align: top;
		padding-right: 5px;
	}

	.hljs-ln-code {
		padding-left: 5px;
	}
}

// Backwards compatibility with themes without components
.post-content pre, .topic-text pre, .composer .preview pre {
	.markdown-highlight;
}

.markdown-highlight .hljs {
	display: inline-block;
}

[component="post/content"], .composer-container .preview {
	div.plugin-markdown {
		display: flex;

		input[type="checkbox"] {
			margin-right: 0.5rem;
			position: relative;
			top: 1px;

			&+label {
				font-weight: unset;
				flex: 1;
			}
		}
	}
}